/* :root {
    --mau-do: rgb(116, 136, 168);
}

.title {
    color: red;
} */

body {
    background-color: aquamarine;
}

#menubar ul li {
    display: inline-table;
}

/* .div-image {
    border-bottom: 2px dashed red;
    width: 80%;
}

.icon-star {
    vertical-align: middle;
    color: yellow;
}

#test-ul li:first-child {
    color: red;
}

#test-ul li:last-child {
    color: red;
}

.radio-input:checked + label {
    color: red;
}

button span {
    vertical-align: middle;
} */

/* 1. Thao tác DOM
2. Nắm chắc về lưu trữ dữ liệu với biến 
3. Xử lý logic (if else, loop, function)
4. Lưu trữ dữ liệu trên localStorage
5. Trải nghiệm người dùng sản phẩm
6. Cộng điểm cho các sản phẩm tự làm và sáng tạo
7. Cộng điểm nếu xử lý API
8. y/c có slider trình bày 
9. y/c deploy sản phẩm */